@import "variables";
@import "mixins";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $text-dark;
  background-color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: $section-padding;
}
