.footer {
  background: #0d0d0d;
  color: #ccc;
  text-align: center;
  padding: 1.5rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    a {
      color: #ccc;
      &:hover {
        color: #00bcd4;
      }
    }
  }
}
